<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/conversation.css">
    <title>Conservation Environment</title>
</head>

<body>
    <!-- Include header partial -->
    <%- include('partials/header') %>

    <div class="subscription-container">
        <div class="star-icon">&#9733;</div>
        <h1>Conservation For Environment</h1>
        <p>
            Conservation of natural resources is crucial to ensure their availability for future generations. Water,
            energy, and land are essential resources that need to be conserved to minimize depletion. The increasing
            demand for these resources due to population growth and economic development has put a strain on their
            availability, making conservation a pressing need. By conserving natural resources, we can reduce the
            risk of scarcity, protect the environment, and promote sustainable development.
        </p>
        <p>
            There are several ways to conserve natural resources, and they all start with reducing waste and using
            resources efficiently. For instance, conserving water can be achieved through practices like rainwater
            harvesting, fixing leaks, and using water-efficient appliances. Similarly, energy conservation can be
            achieved through the use of energy-efficient lighting and appliances, turning off lights and electronics
            when not in use, and insulating homes to reduce heating and cooling needs. Additionally, reducing food
            waste, using public transport, and carpooling can also help conserve resources.
        </p>
        <p>
            The benefits of conserving natural resources are numerous. By conserving resources, we can reduce
            greenhouse gas emissions, mitigate climate change, and protect biodiversity. Conservation also helps to reduce
            pollution, preserve ecosystems, and promote sustainable development. Furthermore, conserving resources
            can also have economic benefits, such as reducing energy costs, creating jobs, and stimulating innovation. By
            adopting conservation practices, we can create a more sustainable future and ensure the well-being of
            both people and the planet.
        </p>
        <button class="plans-button">Next</button>
    </div>
</body>

</html>
